# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


out

transaction_history.warp

exec_wrapper.py

ipy.py

test.file

handshake.py.orig

*.mp4

test/bar/foo12

test/foo1

test/foo12

test/foo123

test/foo

test/IMG_2252.JPG

*.pdf

foo/bar/foo1

foo/bar/foo2

foo/bar2

foo/bar1

test
